body {
    background-image: url(img3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

form {
    background-image: url(img2.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.315);
    max-width: 500px;
    width: 100%;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    
    }

.contenedor {
    margin: 0px 10px;
    position: relative;
    flex: 1 1 calc(50% - 30px);
    
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #b0bec5;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
   
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

